@media screen and (min-width: 1680px) {
  #index .card {
    width: 42vw;
  }

  #index section {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 2vw;
  }
}

@media screen and (min-width: 1920px) {
  #index .card {
    width: 30vw;
  }
}

@media screen and (max-width: 1340px) {
  nav.sidebar {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  #index img,
  #about section img,
  .fourSection {
    width: 100%;
  }

  #about section {
    flex-direction: column;
    margin: 20px auto;
  }
  #about .secondSection {
    flex-direction: column-reverse;
  }
  #about section div {
    width: 100%;
    padding: 0 20px;
    margin: 30px 0;
  }
  .fourSection h2,
  .fourSection p {
    padding: 0 20px;
    text-align: left;
  }
  .fourSection h2 {
    margin-top: 30px;
  }

  #about .fourSection div {
    flex-direction: column;
    margin: 30px auto;
  }
}

@media screen and (max-width: 768px) {
  #index h1,
  #index h2,
  #index h3,
  #index h4,
  #index h5,
  #index p,
  #index blockquote,
  #index ol,
  #index ul {
    width: 100%;
    padding: 0 24px;
  }

  #index blockquote::before {
    left: 0;
  }

  #index .card {
    width: 94%;
  }

  #index h2 {
    font-size: 3.125vw;
  }
  #index p {
    font-size: 2vw;
  }

  #index .cardImg {
    height: 26vw;
  }
}

@media screen and (max-width: 500px) {
  .menubar {
    flex-direction: column;
    gap: 16px;
  }

  .menubar a {
    font-size: 20px;
  }

  #index .card {
    width: 100%;
  }

  #index h2 {
    font-size: 5vw;
  }
  #index p {
    font-size: 3.2vw;
  }

  #index .cardImg {
    height: 94vw;
  }

  #index section {
    margin: 0;
  }
}
